header {
    text-align: center;
    color: rgb(208, 241, 230);
    background-image: url("./../image/Discover-Romanias.jpg");
    padding: 10px;
    width: 1024px;
    margin: 0 auto;
}

nav {
    background-color: rgb(196, 196, 231);
    padding: 10px;
    margin: 15px;
    width: 15%;
    font-size: 15px;
    text-align: center;
}

main {
    
    width: 1024px;
    position: relative; 
    height: 800px;
}



 /* rapport*/
.card1 {
    background-image: url(./../image/Discover-Romanias.jpg);
    padding: 20px;
    width: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    position:absolute;
    top: 50px;
    left: 100px;
    color: aliceblue;
   border-radius: 20px;
    
   
}

 /* interview*/
.card2 {
    background-color: rgb(184, 202, 166);
    padding: 20px;
    width: 15%;
    border-radius: 100px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 700px;
}
 /* mon parcours*/
.card3 {
   
    padding: 15px;
    width: 150px;
    text-align: center;
    position: absolute;
    left: 200px;
    top: 500px;
    color: aliceblue;
    
  

}

 /*conclusion*/
.card4 {
    background-color: hwb(176 69% 13%);
    width: 45%;
    margin: 10px ;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    position: absolute;
    left: 500px;
    top: 500px;
   
}
  /*page centralise*/
.centralise {
    width: 1024px;
    margin: 0 auto;

}
   /* image comision EU background*/
 .body-interiew{
    background-image: url("./../image/comisionEU.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
 }
 /* pour la page Accueil le background*/
 .index{
    background-image: url(./../image/Discover-Romanias.jpg);
    background-size:contain ;
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-attachment: fixed ;
    margin: 0px;
    background-position: center;
 }

footer {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 5px;
    border-radius: 10px;
 

}